<ion-view view-title="Beer Search">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Beer Name</span>
        <input type="text" placeholder="ex. Stout, Lager, Saison" ng-model="search.beername">
      </label>
      <!-- <label class="item item-input item-select">
        <div class="input-label">
          Type
        </div>
        <select>
          <option selected>Any</option>
          <option>Light</option>
          <option>Dark</option>
        </select>
      </label> -->

      <div class="item item-input">
        <span class="input-label">ABV (%)</span>
        <a class="icon placeholder-icon" ng-click="search.abvGreater = !search.abvGreater">
          {{search.abvGreater ? ">=" : "<="}} &nbsp;
        </a>
        <input type="tel" placeholder="ex. 12" ng-model="search.abv">
      </div>

      <div class="item item-input">
        <span class="input-label">IBU</span>
        <a class="icon placeholder-icon" ng-click="search.ibuGreater = !search.ibuGreater">
          {{search.ibuGreater ? ">=" : "<="}} &nbsp;
        </a>
        <input type="tel" placeholder="ex. 20" ng-model="ibu">
      </div>



      <label class="item item-input item-select">
        <div class="input-label">
          Organic?
        </div>
        <select ng-model="organic.index"
            ng-options="organicChoices.indexOf(item) as item for item in organicChoices">
        </select>
      </label>

      <label class="item item-input">
        <div class="input-label">
          Year
        </div>
        <input type="tel" placeholder="ex. 2015" ng-model="search.year">
      </label>
    </div>

    <button class="button button-positive button-block" ng-click="search()">
      Submit
    </button>
  </ion-content>
  <!-- <div class="bar bar-footer bar-balancedbutton button-positive button-block">
    <button class="" on-tap="getResults()">
      Submit
    </button>
  </div> -->
</ion-view>
